@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: 'Roboto', Arial, sans-serif;
}

/* nav bar */
header {
    margin-top: 10px;
    display: flex;
    width: 100%;
    justify-content: center;
}

nav {
    display: flex;
    justify-content:space-between;
    align-items: center;
    border-bottom:solid 1px #474747;
    width: 80%;
}

nav h2 {
    font-size: 24px;
    padding: 5px;
}

nav a {
    text-decoration: none;
    color: black;
}

nav div a {
    margin-left: 20px;
    font-size: 18px;
    transition: all 0.3s ease-in-out;
    display: inline-block;
}
nav div {
    margin-right: 10px;
}
nav div a:hover {
    transform: translateY(-3px);
}


/* hero section */
#hero {
    margin-top: 100px;
    height: 100dvh;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#hero h1 {
    font-size: 48px;
    margin: 20px;
    margin-bottom: 10px;
}
#hero h3 {
    font-size: 24px;
    
    
    font-weight: 300;
    width:fit-content;
}

#hero #sensations {
    margin: 20px 25px;
    margin-top: 0px;
}

#hero div {
    width: 80%;
}