@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: 'Roboto', Arial, sans-serif;
    color: #474747;
    background: #F8F8F6;
}

/* nav bar */
header {

    display: flex;
    position: sticky;
    width: 100%;
    justify-content: center;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 15px;
    margin-top: 20px;
    border-bottom: solid 1px #474747;
    width: 80%;
}

nav h2 {
    font-size: 40px;
    font-weight: 800;
    padding: 5px;
}

nav a {
    text-decoration: none;
    color: #474747;
}

nav div a {
    margin-top: 5px;
    /* Remove when adding responsive design*/
    margin-left: 20px;
    font-size: 32px;
    transition: all 0.3s ease-in-out;
    display: inline-block;
}

nav div {
    margin-right: 10px;
    gap: 25px;
    display: flex;
}

nav div a:hover {
    transform: translateY(-3px);
}


/* hero section */
#hero {
    margin-top: 25px;
    padding-bottom: 20px;
    min-height: 100dvh;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-bottom: 1px solid #DBDBDB;
}

#hero h1 {
    font-size: 128px;
    margin: 20px;
    margin-bottom: 10px;
}

#hero h3 {
    font-size: 40px;


    font-weight: 600;
    width: fit-content;
}

#hero p {
    font-size: 32px;
    font-weight: 400;
    margin-top: 25px;
    align-self: flex-end;

}

#hero #sensations {
    margin: 20px 25px;
    margin-top: 0px;
}

#hero div {
    width: 85%;
    height: auto;
    display: flex;
    flex-direction: column;
}

#hero #hero-image {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    min-width: 100%;
}

#hero img {
    max-width: 595px;
    height: auto;
    margin-top: 20px;
    align-self: flex-end;
    justify-self: flex-end;
    flex-shrink: 3;
}



/* quotes section */
#quotes {
    min-height: 100dvh;
    background: #F2F2F2;
    display: flex;
    flex-direction: column;
    padding: 75px 0px;
    gap: 75px;
    border-bottom: 1px solid #DBDBDB;
}


.quote {
    font-weight: 300;
    font-size: 24px;
    font-style: italic;
    letter-spacing: -0.72px;
    color: #F9FEFF;
}

.border-spacing {
    padding-top: 25px;
    border-top: 1px solid black;
    padding-bottom: 25px;
    border-bottom: 1px solid black;
    width: 60%;
}

.fukasawa {
    border-radius: 0 4px 4px 0;
    background: #394F49;
    padding: 20px;
}

.fukasawa p {
    /* margin-left: 180px; */
    text-align: right;
}

.morrison {
    border-radius: 4px 0 0 4px;
    background: #817E9F;
    padding: 30px;
}

.end {
    align-self: flex-end;
}

.annicchiarico {
    border-radius: 0 4px 4px 0;
    background: #ACA885;
    padding: 40px 30px;
}

.annicchiarico p {
    /* margin-left: 180px; */
    text-align: right;
}





/* Explore section */
#explore {
    display: flex;
    flex-direction: column;
    padding: 100px 50px;
    border-bottom: 1px solid #DBDBDB;
}

.explore-container {
    display: flex;
    flex-direction: column;
}

#explore h2 {
    display: inline-block;
    font-size: 48px;
    font-weight: 600;
    padding: 15px;
    border-bottom: 1px solid #000000;
}

#explore .button-container {
    display: flex;
    width: 60%;
    height: auto;
    align-self: center;
    color: white;
    margin-top: 50px;
    background: #2A0800;
    padding: 35px 25px;
    justify-content: space-between;
    border: none;
    cursor: pointer;
}

#explore .button-container p {
    font-size: 48px;
    font-weight: 700;
    display: block;

}

.chevron-container svg {
    max-width: 100%;
    height: auto;
}

.read-more {
    align-self: center;
    text-align: center;
    margin-top: 75px;
    font-size: 26px;
    font-weight: 500;
    letter-spacing: -1.2px;
    font-style: italic;
    text-decoration-line: underline;
    text-decoration-style: solid;
    text-decoration-skip-ink: auto;
    text-decoration-thickness: auto;
    text-underline-offset: 25%;
    /* 10px */
    text-underline-position: from-font;
}



/* essay section */
#essay-content {
    display: flex;
    padding: 100px 50px;
}

.essay-title {
    width: 50%;
    letter-spacing: -1.2px;
    font-style: italic;
    font-size: 28px;
    font-weight: 600;
    margin-right: 50px;
}

.essay-body {
    width: 50%;
    color: #474747;
    font-size: 20px;
    font-weight: 400;
    line-height: 1.8;
}